{namespace ng=Google\AngularJs\ViewHelpers}
{namespace twbs=TYPO3\Twitter\Bootstrap\ViewHelpers}
{namespace oa=OpenAgenda\Application\ViewHelpers}

<!DOCTYPE html>
<html xmlns:f="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

		<title><f:render section="Title" /></title>

        <twbs:include version="3.1" includeJQuery="true" />
        <ng:include route="1" resource="1" sanitize="1"></ng:include>

        <!-- Library JS -->
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
        <script src="../../Public/Scripts/lib/moment/moment.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.2/fullcalendar.min.js"></script>
        <script src="../../Public/Scripts/lib/ng-breadcrumbs.js"></script>
        <script src="../../Public/Scripts/lib/ng-calendar.js"></script>
        <script src="../../Public/Scripts/lib/xeditable.js"></script>
        <script src="../../Public/Scripts/lib/angular-file-upload.js"></script>
        <script src="../../Public/Scripts/lib/DateFormatter.js"></script>

        <!-- Library CSS -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.2/fullcalendar.min.css">
        <link href="../../Public/Styles/lib/plugins/dataTables.bootstrap.css" rel="stylesheet">
        <link href="../../Public/Styles/lib/sb-admin-2.css" rel="stylesheet">
        <link href="../../Public/Styles/lib/xeditable.css" rel="stylesheet">

        <!-- Custom JS -->
        <script src="../../Public/Scripts/app.js"></script>
        <script src="../../Public/Scripts/controller.js"></script>
        <script src="../../Public/Scripts/Features/Common/commonFactories.js"></script>
        <script src="../../Public/Scripts/Features/Common/commonDirectives.js"></script>
        <script src="../../Public/Scripts/Features/TopBar/topBarController.js"></script>
        <script src="../../Public/Scripts/Features/Dashboard/dashboardController.js"></script>
        <script src="../../Public/Scripts/Features/Menu/menuController.js"></script>
        <script src="../../Public/Scripts/Features/Meeting/meetingIndexController.js"></script>
        <script src="../../Public/Scripts/Features/Meeting/meetingCreateController.js"></script>
        <script src="../../Public/Scripts/Features/Meeting/meetingShowController.js"></script>



        <!-- Custom CSS -->
        <link href="../../Public/Styles/main.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
		<f:render section="HeaderIncludes" />
		<f:base />
	</head>

	<body ng-app="OpenAgenda">
    <f:comment><f:flashMessages class="flashmessages" />
    </f:comment>

        <div id="wrapper">
            <f:render partial="Common/Menu"></f:render>

            <div id="page-wrapper">
                <div class="container-fluid">

                    <f:render section="Content" />
                </div>
             </div>
        <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../Public/Scripts/lib/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../Public/Scripts/lib/sb-admin-2.js"></script>

        <f:render section="FooterIncludes" />


    </body>
</html>