{namespace ng=Google\AngularJs\ViewHelpers}
{namespace twbs=TYPO3\Twitter\Bootstrap\ViewHelpers}
{namespace oa=OpenAgenda\Application\ViewHelpers}
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="urn:flow:fluid"
	  xmlns:ng="urn:google:angularjs"
	  xmlns:react="urn:facebook:react"
	  xml:lang="en" lang="en" ng-app="OpenAgenda" >
    <ng:include route="1"></ng:include>
    <script src = '../../../Public/Scripts/app.js'></script>
    <script src = '../../../Public/Scripts/controller.js'></script>
    <a href="#meetingABC">LINK</a>
    <div class="view-container">
        <div ng-view class="view-frame">

        </div>
    </div>

<div>tt</div>
</html>
