{namespace ng=Google\AngularJs\ViewHelpers}
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="urn:flow:fluid"
	  xmlns:ng="urn:google:angularjs"
	  xmlns:react="urn:facebook:react"
	  xml:lang="en" lang="en">

	<f:layout name="Default" />

	<f:section name="HeaderIncludes">
		<ng:include min="1" />
	</f:section>

	<f:section name="Title">
		<f:translate id="title.dashboard" />
	</f:section>

	<f:section name="Content">
		Content
	</f:section>

	<f:section name="FooterIncludes">

	</f:section>

</html>
