<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:ng="http://typo3.org/ns/Google/AngularJs/ViewHelpers"
	  xmlns:twbs="http://typo3.org/ns/Twitter/Bootstrap/ViewHelpers"
	  xmlns:oa="http://typo3.org/ns/OpenAgenda/Application/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Content"></f:layout>

<!-- Page Content ------------------------------------------- -->
                <f:section name="Content">
                    <f:render partial="Common/Breadcrumb"></f:render>

                    <div class="page-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="page-header"><h1>Dashboard</h1><h4>Hallo [[USER]]</h4></div>

                            </div>
                        </div>
                        <!-- Top three -->
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-users fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">26</div>
                                                <div>Neue Meetings!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a ng-href="/#meetings/test">
                                        <div class="panel-footer">
                                            <span class="pull-left">Details ansehen</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-tasks fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">12</div>
                                                <div>Noch zu erledigende Aufgaben!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Details anzeigen</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-yellow">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-bell fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">124</div>
                                                <div>Neue Nachrichten!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Details anzeigen</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /Top three -->
                        <div class="row">
                            <!-- Meetings -->
                            <div class="col-lg-8">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-users fa-fw"></i> Kommende Meetings</h3>
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item">
                                                <i class="fa fa-comment fa-fw"></i> New Comment
                                            </a>
                                        </div>
                                        <!-- /.list-group -->
                                        <a href="#" class="pull-right">Alle Meetings anzeigen...</a>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                            </div>
                            <!-- /Meetings -->
                            <!-- Notifications -->
                            <div class="col-lg-4">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-tasks fa-fw"></i> Meine Aufgaben</h3>
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item">
                                                <i class="fa fa-comment fa-fw"></i> New Comment
                                            <span class="pull-right text-muted small badge">4 minutes ago
                                            </span>
                                            </a>
                                        </div>
                                        <!-- /.list-group -->
                                        <a href="#" class="pull-right">Alle Nachrichten anzeigen...</a>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                            </div>
                            <!-- /Notifications -->
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Kalender</h3>
                                    </div>
                                    <div class="panel-body ">
                                        <h2 style="display: inline">Mai 2013</h2>
                                        <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                                            <div class="btn-group" role="group" aria-label="...">
                                                <button type="button" class="btn btn-default"><i class="fa fa-angle-double-left"></i></button>
                                                <button type="button" class="btn btn-info">Heute</button>
                                                <button type="button" class="btn btn-default"><i class="fa fa-angle-double-right"></i></button>
                                            </div>
                                            <div class="btn-group" role="group" aria-label="...">
                                                <button type="button" class="btn btn-default">Jahr</button>
                                                <button type="button" class="btn btn-default">Monat</button>
                                                <button type="button" class="btn btn-default">Woche</button>
                                            </div>
                                        </div>
                                        <div style="margin-top: 20px" class="panel panel-default">
                                            <div class="panel-body">
                                                 ANGULAR KALENDER
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:section>
<!-- Page Content ------------------------------------------- -->

</html>