<ul class="nav navbar-top-links navbar-right" ng-controller="TobBarCtrl">
    <!-- /.dropdown -->

    <!-- /.dropdown -->
    <li class="dropdown">
        <a point-me="true" class="dropdown-toggle" data-toggle="dropdown" >
            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts" style="width: 400px; padding: 10px">
            <li>
                <div ng-repeat="notification in getNotifications() | orderBy:'+title'">
                    <div>
                        <i class="fa fa-bell"></i> {{notification.title}}
                        <a ng-href="/invitation/accept.json?invitation[__identity]={{notification.__identity}}"><i style="color: #5cb85c" class="fa fa-check"></i></a>
                        <a ng-href="/invitation/decline.json?invitation[__identity]={{notification.__identity}}"><i style="color: #d9534f" class="fa fa-times"></i></a>
                        <span class="pull-right text-muted small">{{notification.scheduledStartDate | date:"dd.MM.yyyy HH:mm"}} Uhr</span>
                    </div>
                </div>
            </li>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a point-me="true" class="dropdown-toggle" data-toggle="dropdown" >
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="#settings/user/profile"><i class="fa fa-user fa-fw"></i> Profilverwaltung</a>
            </li>
            <li><a href="#settings/user"><i class="fa fa-gear fa-fw"></i> Benutzereinstellugen</a>
            </li>
            <li class="divider"></li>
            <li>
				<f:link.action action="logout" controller="Authentication">
					<i class="fa fa-sign-out fa-fw"></i> Abmelden
				</f:link.action>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
    <li class="topbar-search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Suche... (DEMO – ohne Funktion)">
                                <span class="input-group-btn" style="width: auto;">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
        </div>
        <!-- /input-group -->
    </li>
</ul>
<!-- /.navbar-top-links -->