<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:ng="http://typo3.org/ns/Google/AngularJs/ViewHelpers"
      xmlns:twbs="http://typo3.org/ns/Twitter/Bootstrap/ViewHelpers"
      xmlns:oa="http://typo3.org/ns/OpenAgenda/Application/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Content"></f:layout>

<!-- Page Content ------------------------------------------- -->
<f:section name="Content">
    <f:render partial="Common/Breadcrumb"></f:render>
    <f:section name="Content">
        <f:render partial="Common/Breadcrumb"></f:render>

        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{headerTitle}}</h1>

                    <!-- >  Button nach User-Berechtigungen entfernen </!--> 
                    <button type="button" class="btn btn-primary" ng-model="editMode" btn-checkbox="false" btn-checkbox-true="true" btn-checkbox-false="false">Enable Edit</button>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">

                            <span ng-switch on="editMode">
                                <h3 ng-switch-when="true" style="color: #ffffff" class="panel-title"><span point-me="true" href="#" editable-text="meeting.title">{{ meeting.title || 'Noch kein Titel festgelegt' }}</span></h3>
                                <h3 ng-switch-default     style="color: #ffffff" class="panel-title"><span>{{ meeting.title || 'Noch kein Titel festgelegt' }}</span></h3>
                            </span>
                        </div>
                        <div class="panel-body">
                            <!--<div style="height: 100px; width: 150px; border: solid #000000" class="pull-right meeting-map">KARTE
                            </div>-->

                            <h3>Termin</h3>

                            <div class="panel-entry">
                                <span ng-switch on="editMode">
                                    <a ng-switch-when="true" href="#" editable-bsdate="meeting.scheduledStartDate" e-datepicker-popup="dd-MMMM-yyyy">
                                        {{ (meeting.scheduledStartDate | date:"dd/MM/yyyy") || 'Kein Datum festgelegt' }}
                                    </a>
                                    <a ng-switch-default>
                                        {{ (meeting.scheduledStartDate | date:"dd/MM/yyyy") || 'Kein Datum festgelegt' }}
                                    </a>
                                </span>
                                <br/>
                                <span ng-switch on="editMode">
                                    <a ng-switch-when="true" href="#" editable-bstime="meeting.scheduledStartDate" e-show-meridian="false" e-minute-step="10">
                                        {{ (meeting.scheduledStartDate | date:"HH:mm") || 'empty' }}
                                    </a>
                                    <a ng-switch-default >
                                        {{ (meeting.scheduledStartDate | date:"HH:mm") || 'empty' }}
                                    </a>
                                </span>
                                <br/>
                                <span ng-switch on="editMode">
                                    <a ng-switch-when="true" href="#" editable-text="meeting.place">{{ meeting.place || 'Kein Ort festgelegt' }}</a>
                                    <a ng-switch-default>{{ meeting.place || 'Kein Ort festgelegt' }}</a>
                                </span>
                            </div>
                            <h3 class="top-border">Agenda</h3>

                            <div class="agenda-punkt" ng-repeat="apt in meeting.agendaItems | orderBy:'+sorting'">
                                <div class="panel-entry row">
                                    <div class=" col-sm-12 col-md-12 col-lg-6 ">

                                        <span ng-switch on="editMode">
                                            <div ng-switch-when="true"><label><b><a href="#" editable-text="apt.title">{{apt.sorting}}. {{ apt.title|| 'Kein Agendapunkt-Titel festgelegt' }}</a></b></label></div>
                                            <div ng-switch-default><label><b><a>{{apt.sorting}}. {{ apt.title|| 'Kein Agendapunkt-Titel festgelegt' }}</a></b></label></div>

                                        </span>

                                        <div>
                                            <span ng-switch on="editMode">
                                                <a ng-switch-when="true" href="#" editable-textarea="apt.description" e-rows="7" e-cols="40">
                                                    <pre>{{ apt.description || 'Keine Agendapunkt-Beschreibung festgelegt' }}</pre>
                                                </a>
                                                <a ng-switch-default e-rows="7" e-cols="40">
                                                    <pre>{{ apt.description || 'Keine Agendapunkt-Beschreibung festgelegt' }}</pre>
                                                </a>
                                            </span>
                                        </div>

                                    </div>
                                    <div  class="col-sm-12 col-md-12 col-lg-6">
                                        <div class="pull-right">
                                            <ul>
                                                <li ng-repeat="item in getUploader($index).queue">
                                                    Name: <span ng-bind="item.file.name"></span><br/>
                                                    <!--<button ng-click="item.upload()">upload</button>-->
                                                </li>
                                            </ul>
                                        </div>
                                        <div><b>Anhänge</b></div>
                                        <span ng-show="editMode" class="btn btn-default btn-xs btn-file">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><input type="file" nv-file-select uploader="getUploader($index)"/><br/>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 20px;"class="panel-entry">
                                <button ng-show="editMode" ng-click="addNewAgendaItem()" class="btn btn-default btn-xs">
                                    Neuer Agendapunkt anlegen
                                </button>
                            </div>
                        </div>

                    </div>
                    <span ng-switch on="editMode">
                        <div ng-switch-when="true" class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 style="color: #ffffff" class="panel-title">Meeting Teinehmer festlegen</h3>
                                    </div>
                                    <div class="panel-body">

                                        <form name="myForm" >
                                            <div class="form-group">
                                                <label for="invitiationMail">Mail Adresse des Teilnehmers (später autocomplete)</label>
                                                <input type="email" name="input" class="form-control" ng-model="invitiationMailAddress" id="invitiationMail" placeholder="Mail Adresse" required>
                                            </div>
                                            <div ng-show="myForm.input.$error.required" class="alert alert-info" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Info:</span>
                                                Mail Adresse benötigt
                                            </div>
                                            <div ng-show="myForm.input.$error.email" class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Fehler:</span>
                                                Gültige Mail Adresse eingeben!
                                            </div>
                                        </form>


                                        <button ng-click="addNewInvitation(invitiationMailAddress)" class="btn btn-default btn-xs">
                                            Teilnehmer Hinzufügen
                                        </button>
                                        <div ng-show="meeting.invitations.length > 0">
                                            <label style="margin-top: 20px">Hinzugefügte Teinehmer</label>
                                            <ul>
                                                <li ng-repeat="invitation in meeting.invitations">In Participant steht noch nix <a point-me="true" ng-click="deleteInvitation($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix panel-entry">
                                            <button ng-click="sendMeetingData()" style="margin-bottom: 20px; margin-right: 15px" class=" pull-right btn btn-danger">
                                                Meeting anlegen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-switch-default class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 style="color: #ffffff" class="panel-title">Meeting Teinehmer</h3>
                                    </div>
                                    <div class="panel-body">

                                        Teilnehmer auflisten
                                    </div>
                                </div>
                            </div>
                        </div>

                    </span>
                </div>
            </div>
        </div>

    </f:section>
</f:section>
<!-- Page Content ------------------------------------------- -->

</html>