<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:ng="http://typo3.org/ns/Google/AngularJs/ViewHelpers"
      xmlns:twbs="http://typo3.org/ns/Twitter/Bootstrap/ViewHelpers"
      xmlns:oa="http://typo3.org/ns/OpenAgenda/Application/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Content"></f:layout>

<!-- Page Content ------------------------------------------- -->
<f:section name="Content">
    <f:render partial="Common/Breadcrumb"></f:render>
edit
</f:section>
<!-- Page Content ------------------------------------------- -->

</html>