<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:ng="http://typo3.org/ns/Google/AngularJs/ViewHelpers"
      xmlns:twbs="http://typo3.org/ns/Twitter/Bootstrap/ViewHelpers"
      xmlns:oa="http://typo3.org/ns/OpenAgenda/Application/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Content"></f:layout>

<!-- Page Content ------------------------------------------- -->
<f:section name="Content">
    <f:render partial="Common/Breadcrumb"></f:render>
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <button ng-click="help.show()"type="button" class="btn pull-right btn-default btn-circle btn-lg btn-help "><div><i class="fa fa-question"></i></div></button>

                <h1 class="page-header">Meeting durchführen</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{meeting.title}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="check-element animate-hide" ng-show="meeting.status < 2 && meeting.$permissions.execute">
                            <button ng-controller="MeetingExecuteModalCtrl" style=" margin-right: 40px" class=" pull-right btn btn-success" ng-click="open('lg')"><!--ng-click="startMeetng(); -->
                                Meeting starten
                            </button>
                        </div>
                        <div class="check-element animate-show" ng-show="meeting.status == 2">
                            <button style=" margin-right: 40px" class=" pull-right btn btn-success" ng-disabled='true' >
                                Meeting läuft
                            </button>
                        </div>
                        <div class="check-element animate-show" ng-show="meeting.status == 3">
                            <button style=" margin-right: 40px" class=" pull-right btn btn-danger" ng-disabled='true' >
                                Meeting abgeschlossen
                            </button>
                        </div>

                        <h3 style="display: inline">Termin</h3>

                        <div class="panel-entry">
                            <span ng-show="meeting.scheduledStartDate">Datum: {{meeting.scheduledStartDate | date:'dd.MM.yyyy'}}<br/> </span>
                            <span ng-show="meeting.scheduledStartDate">Uhrzeit: {{meeting.scheduledStartDate | date:'H:mm'}} </span>
                            <span ng-show="meeting.location">Ort: {{meeting.location}}</span>
                            <span ng-show="meeting.startDate && meeting.status >= 2"><br/>begonnen am {{meeting.startDate | date:'dd.MM.yyyy'}} um {{meeting.startDate | date:'H:mm'}} Uhr </span>
                            <span ng-show="meeting.endDate && meeting.status >= 3"><br/>geendet am {{meeting.startDate | date:'dd.MM.yyyy'}} um {{meeting.startDate | date:'H:mm'}} Uhr </span>
                        </div>

                        <h3>Agenda</h3>
                        
                        <div ng-repeat="agendaItem in meeting.agendaItems | orderBy:'+sorting'">
                            <div class="agenda-punkt" style="border-top: solid 1px #eeeeee">
                                <div class="panel-entry row">
                                    <div class=" col-sm-12 col-md-12 col-lg-6 ">
                                        <div class="checkbox">
                                            <label><input type="checkbox" ng-model="checked" ng-disabled='meeting.status != 2 && !meeting.$permissions.execute'/>
                                                <b>{{agendaItem.title}}</b>
                                            </label>
                                        </div>
                                        <div>
                                            <div class="check-element animate-hide" ng-hide="checked">{{agendaItem.description}}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                        <div class="check-element animate-hide" ng-hide="meeting.status != 2 || checked">
                                            <div><b>Anhänge</b></div>
                                            <div>
                                                <ul>
                                                    <li> Beispieldatei.pdf</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="check-element animate-hide" ng-show="agendaItem.note.description || meeting.$permissions.minutes">
                                    <div class="panel-entry">
                                        <h4>Protokoll</h4>
                                        <div class="Protokoll">
                                            <span ng-switch on="meeting.$permissions.minutes">
                                                <a ng-switch-when="true" href="#" editable-textarea="agendaItem.note.description" onaftersave="sendProtocollItem()" e-rows="7" e-cols="40">
                                                    <pre>{{ agendaItem.note.description || 'Noch kein Protokolleintrag' }}</pre>
                                                </a>
                                                <div ng-switch-default>
                                                    <pre>{{ agendaItem.note.description || 'Noch kein Protokolleintrag' }}</pre>
                                                </div>
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 style="border-top: solid 1px #eeeeee" ng-show="meeting.$permissions.minutes">Aufgaben</h3>
                        <span ng-switch on="meeting.$permissions.minutes">
                            <div class="panel-entry" ng-switch-when="true">
                                <div class="task">
                                    <div class="task-item" ng-repeat="taskItem in meeting.tasks">
                                        <div>
                                            <a href="#" onaftersave="sendTaskItem($index)" editable-text="taskItem.title">{{ taskItem.title || 'Aufgabentitel festlegen' }}</a>
                                            <a point-me="true" ng-click="removeTasks($index)"><span class=" pull-right glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                        </div>
                                        <div style="padding: 0px" class="col-sm-5">
                                            <a href="#" onaftersave="sendTaskItem($index)" editable-select="taskItem.assignee" buttons='no' e-ng-options="invitation.$participant.__identity as invitation.$participant.$mail for invitation in meeting.invitations">
                                                {{ showStatus($index) }}
                                            </a>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="#" onaftersave="sendTaskItem($index)" editable-bsdate="taskItem.dueDate" e-datepicker-popup="dd-MMMM-yyyy">
                                                {{ (taskItem.dueDate | date:"dd.MM.yyyy") || 'Datum festlegen' }}
                                            </a><br/>
                                        </div>
                                        <div>
                                            <a href="#" onaftersave="sendTaskItem($index)" editable-bstime="taskItem.dueDate" e-show-meridian="false" e-minute-step="10">
                                                {{ (taskItem.dueDate | date:"HH:mm") + ' Uhr'|| 'Uhrzeit festlegen' }}
                                            </a><br/>
                                        </div>
                                        <div>
                                            <a href="#" onaftersave="sendTaskItem($index)" editable-textarea="taskItem.description" e-rows="7" e-cols="40">
                                                <pre>{{ taskItem.description || 'Aufgabenbeschreibung festlegen' }}</pre>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <button style="margin-top: 15px;" class="btn btn-primary btn-xs" ng-click="addTask()">
                                    Aufgabe hinzufügen
                                </button>
                            </div>
                            <div ng-switch-default class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 style="color: #ffffff" class="panel-title">Meeting Aufgaben</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover" id="dataTables-task">
                                                    <thead>
                                                    <tr>
                                                        <th>Fälligkeit</th>
                                                        <th>Aufgabe</th>
                                                        <th>Status</th>
                                                        <th>Zuständig</th><!--zugesagt/abgesagt/ausstehend!-->
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="odd gradeX" ng-repeat="task in meeting.tasks">
                                                        <td>{{task.dueDate | date:"dd.MM.yyyy HH:mm"}} Uhr</td>
                                                        <td>{{task.title}}</td>
                                                        <td task-status="true"></td>
                                                        <td>{{task.$assignee.name.firstName}} {{task.$assignee.name.lastName}} &lt;{{task.$assignee.$mail}}&gt;</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div ng-show="loading" class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <div ng-hide="meeting.tasks.length > 0" class="alert alert-info" role="alert">
                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                    <span class="sr-only">Info:</span>
                                                    Keine Tasks festgelegt!
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </span>
                    </div>
                    <div class=" clearfix panel-entry">
                        <button style="margin-bottom: 20px; margin-right: 15px" class=" pull-right btn btn-danger" ng-show="meeting.status == 2 && meeting.$permissions.execute" ng-click="endMeeting()">
                            Meeting abschließen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</f:section>
<!-- Page Content ------------------------------------------- -->
</html>