<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:ng="http://typo3.org/ns/Google/AngularJs/ViewHelpers"
      xmlns:twbs="http://typo3.org/ns/Twitter/Bootstrap/ViewHelpers"
      xmlns:oa="http://typo3.org/ns/OpenAgenda/Application/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Content"></f:layout>

<!-- Page Content ------------------------------------------- -->
<f:section name="Content">
    <f:render partial="Common/Breadcrumb"></f:render>

    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Meeting durchführen</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{meeting.title}}</h3>
                    </div>
                    <div class="panel-body">

                        <h3>Termin</h3>

                        <div class="panel-entry">
                            {{meeting.formatScheduledStartDate}}<br/>
                            {{meeting.formatScheduledTime}} (begonnen am {{meeting.formatStartDate}} um {{meeting.formatTime}})<br/>
                            <span ng-show="meeting.location">Ort: {{meeting.location}}</span>
                        </div>
                        <h3>Agenda</h3>

                        <div ng-repeat="agendaItem in meeting.agendaItems | orderBy:'+sorting'">
                            <div class="agenda-punkt" style="border-top: solid 1px #eeeeee">

                                <div class="panel-entry row">
                                    <div class=" col-sm-12 col-md-12 col-lg-6 ">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">
                                                <b>{{agendaItem.title}}</b>
                                            </label>
                                        </div>
                                        <div>
                                            {{agendaItem.description}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                        <div><b>Anhänge</b></div>
                                        <div>
                                            <ul>
                                                <li> htijg</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-entry">
                                    <h4>Protokoll</h4>

                                        <div class="Protokoll">

                                            <a href="#" editable-textarea="getProtocolItem(agendaItem.sorting).text" e-rows="7" e-cols="40">
                                                <pre>{{ getProtocolItem(agendaItem.sorting).text || 'Noch kein Protokolleintrag' }}</pre>
                                            </a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <h3 style="border-top: solid 1px #eeeeee">Aufgaben</h3>
                        <div class="panel-entry">
                            <div class="task">
                                <button class="pull-right btn btn-default"><span
                                        class="glyphicon glyphicon-minus"
                                        aria-hidden="true"></span></button>
                                <div>
                                    <a href="#" editable-text="task.title">{{ task.title || 'Aufgabentitel festlegen' }}</a>
                                </div>

                                <div style="padding: 0px" class="col-sm-5">
                                    <a href="#" editable-select="imgTask.user" e-ng-options="s.value as s.text for s in invitedUsers">
                                        {{ showStatus() }}
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#" editable-bsdate="task.scheduledDateTime" e-datepicker-popup="dd-MMMM-yyyy">
                                        {{ (task.scheduledDateTime | date:"dd/MM/yyyy") || 'Datum festlegen' }}
                                    </a><br/>
                                </div>
                                <div>
                                    <a href="#" editable-bstime="task.scheduledDateTime" e-show-meridian="false" e-minute-step="10">
                                        {{ (task.scheduledDateTime | date:"HH:mm") || 'Uhrzeit festlegen' }}
                                    </a><br/>
                                </div>
                                <div>
                                    <a href="#" editable-textarea="task.description" e-rows="7" e-cols="40">
                                        <pre>{{ task.description || 'Aufgabenbeschreibung festlegen' }}</pre>
                                    </a>
                                </div>
                            </div>

                            <button style="margin-top: 15px;" class="btn btn-primary btn-xs">Aufgbe hinzufügen
                            </button>
                        </div>



                    </div>
                    <div class=" clearfix panel-entry">
                        <button style="margin-bottom: 20px; margin-right: 15px" class=" pull-right btn btn-danger">
                            Meeting abschließen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</f:section>
<!-- Page Content ------------------------------------------- -->
</html>