<div ng-controller="MeetingExecuteModalCtrl" >

            <div class="modal-header">
                <h3 class="modal-title">Meetingvorbereitung</h3>
            </div>
            <div class="modal-body">
            <p>Um mit dem Meeting zu beginnen, Wählen Sie die anwesenden Teilnehmer aus, in dem Sie auf den entsprechenden Eintrag klicken. <br />
            Den Schriftführer können sie mit einem Doppelklick auswählen.</p>
             <table class="table">
                 <thead>
                     <tr>
                         <th>Name</th>
                         <th>Anwesend</th>
                         <th>Schriftführer</th>
                     </tr>
                 </thead>
                 <tbody ng-repeat="invitation in meeting.invitations">
                     <tr point-me="true" class="noselect" ng-class="{success: invitation.available == true , info: invitation.role == 'OpenAgenda.Application:MinuteTaker'}" timed-click="tooglePresent($index)" ng-dblclick="toogleMinuteTaker($index)">
                         <td>{{invitation.$participant.name.firstName}} {{invitation.$participant.name.lastName}}</td>
                         <td>
                             <i ng-if="invitation.available == true" style="color: #5cb85c" class="fa fa-check"></i>
                             <i ng-if="(invitation.available != true) && invitation.role != 'OpenAgenda.Application:MinuteTaker'" style="color: #d9534f" class="fa fa-times"></i>
                         </td>
                         <td>
                             <i ng-if="invitation.role == 'OpenAgenda.Application:MinuteTaker'"style="color: #5bc0de" class="fa fa-pencil"></i>
                         </td>
                     </tr>
                 </tbody>
            </table>
                <div ng-show="!meeting.minuteTaker" class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Info:</span>
                    Es muss ein Protokollführer ausgewählt werden!
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="cancel()">Abbrechen</button>
                <button class="btn btn-primary" ng-click="ok()">Starten</button>
            </div>

</div>