<f:layout name="Default" />

<f:section name="Title">A list of meetings</f:section>

<f:section name="Content">
	<f:if condition="{meetings}">
		<f:then>
			<ul>
				<f:for each="{meetings}" as="meeting">
					<li>
						<f:link.action action="show" arguments="{meeting: meeting}">{meeting.name}</f:link.action>
						<f:link.action action="edit" arguments="{meeting: meeting}">Edit</f:link.action>
						<f:form action="delete" arguments="{meeting: meeting}">
							<f:form.submit value="Delete" />
						</f:form>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No meetings created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new meeting</f:link.action></p>
</f:section>