<div ng-controller="TaskEditCtrl" ng-show="task">
<div ng-show="task">
    <div class="modal-header">
        <h3 class="modal-title">{{task.title}}</h3>
    </div>
    <div class="modal-body">

        <dl class="dl-horizontal">
            <dt>Beschreibung</dt>
            <dd>{{task.description}}</dd>
            <dt>Meeting</dt>
            <dd>{{task.$meeting.title}}</dd>
            <dt>Zuständig</dt>
            <dd>{{task.$assignee.name.firstName}} {{task.$assignee.name.lastName}}</dd>
            <dt>Abgabedatum</dt>
            <dd>{{task.dueDate | date:"dd/MM/yyyy HH:m"}} Uhr</dd>
            <dt>Status</dt>
            <dd task-status="true"></dd>
            <dt style="margin-top: 30px">Aufgabe markieren als</dt>
            <dd style="margin-top: 22px"><div class="btn-group" role="group" aria-label="...">
                    <button type="button" ng-model="task.status" btn-radio="0" class="btn btn-default">Laufend</button>
                    <button type="button" ng-model="task.status" btn-radio="1" class="btn btn-default">Abgeschlossen</button>
                    <button type="button" ng-model="task.status" btn-radio="2" class="btn btn-default">Abgebrochen</button>
                </div>
            </dd>
        </dl>

        <p><strong></strong></p>

    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Abbrechen</button>
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</div>
</div>