
.panel-heading a {
    float: right;
    margin-top: -17px;
}

#login-button-group {
    float: right;
}

.modal-dialog-error {
    margin-top: -30px;
}

.container:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background: url(../Images/login-bg.jpg) no-repeat center center fixed;
    width: 110%;
    height: 110%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
}
/* Fix for Firefox*/
@-moz-document url-prefix() {
    .container:before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;

        display: block;
        background: url(../Images/login-bg_blur.png) no-repeat center center fixed;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.openagenda-validation-errors, .openagenda-authentication-error{
    color: red;
}

/*Layout TopBar*/
.topbar-search .input-group {
    margin-bottom: -10px;
    width: 290px;
}

/*Layout Breadcrumb*/
.breadcrumb {
    margin: 0 -30px;
    border-radius: 0px;
}

/*Layout Menu*/
.sidebar-heading {
    padding-left: 20px;
    font-size: 2em;
    font-weight: lighter;
}

.nav li a {
    padding-left: 30px;
}

.sidebar .nav-second-level li a {
    padding-left: 53px;
}

.navbar {
    margin-bottom: 0px;
}

.toolbar-entry {
    padding: 0px 24px;
}

/*Layout Content*/
.panel-entry {
    padding: 0px 34px;
}

.panel-entry .checkbox {
    margin-left: -25px;
}

.meeting-map {
    margin-right: 34px;
}

a.list-group-item {
    color: #555;
}

div.form-group {
    margin-top: 10px;
}

.img-user {
    height: 150px;
    width: auto;
}

.top-border {
    border-color: #eee;
    border-width: 1px;
    border-top-style: solid;

}

/*xEditable customization*/
.editable-empty, .editable-empty:hover, .editable-empty:focus, span.editable-empty, span.editable-empty:hover, span.editable-empty:focus {
    font-style: italic;
    color: #D14;
    text-decoration: none
}

.editable-click {
    color: #ffffff;
}

.editable-click:hover {
    color: #ffffff;
}
/* temporary workaround for display editable-bstime in bs3 - up/down symbols not shown */
.editable-bstime .editable-input i.icon-chevron-up:before {
    content: '\e113';
}

.editable-bstime .editable-input i.icon-chevron-down:before {
    content: '\e114';
}

.editable-bstime .editable-input i.icon-chevron-up,
.editable-bstime .editable-input i.icon-chevron-down {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
/*Show plus btn instead of default*/
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*Animations*/
.ng-hide-add, .ng-hide-remove {
    display: block !important; /* yes, important */
}

.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}

.cssFade.ng-hide {
    opacity: 0;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;

    position: relative;
    left: 5px;
}

.repeat-animation.ng-enter {
    opacity: 0;
}

.repeat-animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.repeat-animation.ng-leave {
    opacity: 1;
}

.repeat-animation.ng-leave.ng-leave-active {
    opacity: 0;
}

.repeat-animation.ng-move {
    left: 2px;
    opacity: 0.5;
}

.repeat-animation.ng-move.ng-move-active {
    left: 0;
    opacity: 1;
}

/*If text should not be selectable*/
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Round help btn*/
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 40px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
.btn-help {
    margin-top: -5px;
}

.btn-help div {
    margin-top: -12px;
    margin-left: -4px;
}

/*Autocomplete customization*/
.autocomplete ul{
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}

/*SpinnKit*/
.spinner {
    margin: 10px auto 20px;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #31708f;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/*Responsive layout costomization*/
@media (min-width: 768px) {
    .breadcrumb {
        margin: 0 -45px;
        border-radius: 0px;
    }

}
@media (min-width: 1200px) {
    .btn-help {
        margin-top: 35px;
    }
}
