
.panel-heading a
{
    float: right;
    margin-top: -17px;
}
#login-button-group
{
    float: right;
}

.container:before
{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background: url(../Images/login-bg.jpg) no-repeat center center fixed;
    width: 110%;
    height: 110%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);

}

.topbar-search .input-group
{
    margin-bottom: -10px;
}

.sidebar-heading
{
    padding-left: 20px;
    font-size: 2em;
    font-weight: lighter;
}
.nav li a
{
    padding-left: 30px;
}

.sidebar .nav-second-level li a
{
    padding-left: 53px;
}
.navbar
{
    margin-bottom:0px;
}

.breadcrumb
{
    margin: 0 -30px;
    border-radius: 0px;
}
.toolbar-entry
{
    padding: 0px 24px;
}
.panel-entry {
    padding: 0px 34px;

}
.panel-entry .checkbox
{
    margin-left: -25px;
}
.meeting-map
{
    margin-right: 34px;
}
a.list-group-item
{
    color:#555;
}
div.form-group
{
    margin-top: 10px;
}
.img-user {
    height: 150px;
    width: auto;
}
.top-border {
    border-color: #eee;
    border-width: 1px;
    border-top-style: solid;

}
.editable-click
{
    color: #ffffff;
}
.editable-click:hover
{
    color: #ffffff;
}
/* temporary workaround for display editable-bstime in bs3 - up/down symbols not shown */
.editable-bstime .editable-input i.icon-chevron-up:before {
    content: '\e113';
}
.editable-bstime .editable-input i.icon-chevron-down:before {
    content: '\e114';
}
.editable-bstime .editable-input i.icon-chevron-up,
.editable-bstime .editable-input i.icon-chevron-down {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

@media(min-width:768px)
{
    .breadcrumb
    {
        margin: 0 -45px;
        border-radius: 0px;
    }
}
