<div class="modal-dialog-error" style="margin-top: -35px;">
    <div class="modal-header" style="background-color: #eee; color: #333">
        <h3><i class="fa fa-question"></i> Hilfe</h3>
    </div>
    <div class="modal-body">
        <h3>Hier steht einmal die Hilfe</h3>
        <h4>Alle wichtigen Dinge sind hier beschrieben</h4>
        <p>Auch die einzelnen Punkte der Seite werden erklärt</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default"
                data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    </div>
</div>
</div>